*{
	margin:0px auto;
	box-sizing:border-box;
}
body{
	width: 960px;
	font-family: "微软雅黑";
}
header{
	font-size: 40px;
	text-align: center;
	background-color: #cca;
	height: 100px;
	line-height: 100px;
	width: 100%;
	padding: 10px;
}
nav{
	display: table-cell;
	width: 200px;
	background-color: #ffa;
}
ul{
	-webkit-padding-start: 0px;
	padding:10px 20px;
	text-indent: 2em;

}
nav li{
	list-style-type: none;
	border: 1px solid #ccc;
}
nav li+li{
	border-top: 1px solid #f23;
}
nav li a{
	display: block;
	text-decoration: none;
	font-size: 20px;
	line-height: 30px;
}
nav li a:hover{
	color:#369;
	background-color: #d22;
}
article{
	display: table-cell;
	width: 560px;
	background-color: #ffc;
	padding: 10px;
}
article p,aside p{
	font-size: 1.2em;
	text-indent: 2em;
}
aside{
	display: table-cell;
	width: 200px;
	background-color: #ffb;
	padding: 10px;
}
footer{
	background-color: #ffa;
	clear: left;
	padding: 10px;
}